# Nuxt
.nuxt/
.output/
.data/
dist/
.nitro/
.cache/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Secrets
config.json
secrets.json
api-keys.txt

# Backup / temp
*.bak
*.backup
tmp/
temp/
/backup
